version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "1.1.x" # oldest supported branch
    schedule:
      interval: "weekly"
# Non-build dependencies; target every supported branch
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "1.1.x"
    milestone: 16
    ignore:
      # only upgrade patch versions
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 10
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "1.2.x"
    milestone: 32
    ignore:
      # only upgrade patch versions
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 10
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    target-branch: "main"
    milestone: 35
    ignore:
      # upgrade minor and patch versions on main
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    open-pull-requests-limit: 10
